<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h1 class="about-headline">ランダムご飯について</h1>
			<p class="about-headline-text">当サイトでは主にランダムでレシピを提供し<br>
			レシピ選びで迷うことがありません。</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1">
			<h3>レシピ</h3>
			<ul>
				<li>ユーザー登録なしでも、他ユーザーのレシピやコメントをみたり、
					キーワード検索自分の見たいレシピを
					探すことができます。
				</li>
				<li>登録をすると、自分の作ったレシピの共有や、
				他のレシピにコメントや評価をすることもできます。</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5">
			<div class="about-photo1">
			</div>
		</div>
	</div>
	<div class="about-row">
		<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1">
			<h3>マイページ</h3>
			<ul>
				<li>マイページでユーザー情報の編集が行えます。</li>
				<li>投稿したレシピは、マイページより一覧で確認できます。</li>

			</ul>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5">
			<div class="about-photo2">
			</div>
		</div>
	</div>
</div>
