<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-3">
			<h2>ようこそ！ Food_decisionへ</h2>
			<p>日々の献立を考えていて悩んでいる方こちらのサイトを<br>ご利用して頂くと献立に困ることはありません。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
			<div class="jumbotron">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5">
		</div>
	</div>
</div>