 <h1 class="header-line">投稿者一覧</h1>
 <div class="flex">
  <% @users.each do |user| %>
    <div>
      <div class="user-list">
       <%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.png", size: "200x200" %>
       <%= link_to user_path(user) do %>
       <p><%= user.name %>さんのレシピへ</p>
       <% end %>
       投稿数:<%= user.recipes.count %>
     </div>
   </div>
 <% end %>
</div>



