/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
    background-size: cover;
	background-color: #EEEEEE;
}

.login-headline {
    text-align: center;
}

.navbar-default {
    background-color: #FFA500;
}
.nav navbar-nav navbar-right {
    color: rgba(0,0,255,1);
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand {
    font-family: 'HanziPen TC','Andale Mono','Chalkduster',sans-serif;
    color: #black;
}

.sidebar {
  counter-reset:number;
  list-style-type: none!important;
  padding: 0.3em 0.8em;
  border: solid 2px #ffb107;
}
.sidebar li {
  border-bottom: dashed 1px orange;
  position: relative;
  padding: 0.5em 0.5em 0.5em 30px;
  line-height: 1.5em;
}
.sidebar li:before{
  position: absolute;
  counter-increment: number;
  content: counter(number);
  display:inline-block;
  background: #ffb107;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sidebar li:last-of-type {
  border-bottom: none;
}
.sidebar-color {
	background-color: #FFFFFF;
}