// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-content {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: black;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-shadow: 0px 0px 1px black;
}
.top-content-name {
    font-size: 30px;
    color: black;
    padding-bottom: 30px;
    margin: 0 auto;
    text-shadow: 0px 0px 1px black;
}
.top-list{
  font-size: 30px;
  font-weight: 600;
  padding: 2px;
  background: linear-gradient(transparent 60%, #cccccc 0%);
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.total-flex {
  display: flex;
  margin-right: auto;
  color: #1e366a;
  border-bottom: dashed #1e366a 1px;
  padding: 0.5em 0 0.5em 1.5em;
}
.total-flex > div {
  width: 50%;
  margin: 10px;
}

.about-headline {
  text-align: center;
}
.about-headline-text {
  text-align: center;
}
.about-row {
  margin: 20px;
  border-bottom: dashed 2px #6594e0;
}
.about-photo1 {
  width: 100%;
  height: 300px;
  background-image: image-url("TCPAKU0649_TP_V.jpg");
  background-size: cover;
  background-position: center;
}
.about-photo2 {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-image: image-url("PAK85_syokutakubkaraage20150203185651_TP_V.jpg");
  background-size: cover;
  background-position: center;
}

.btn-text {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.btn-text:active {
  top: 4px;
  text-shadow: none;
}

#button1 {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
  #button1:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.recipes-headline {
  text-align: center;
  font-family: 'Hannotate TC',sans-serif;
}
.index-box {
  margin-bottom: 100px;
}
.recipes-box {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  color: #666666;
  border: 2px solid #996633;
  background-color: #fff;
  box-shadow: -2px 5px 5px #e8d3c7;
  border-radius: 20px;
}
.recipe-img img {
  border-radius: 10%;
  width: 100%;
  align-self: flex-end;

}
.recipe-list {
  padding: 0;
}
.recipe-list li {
  list-style: none;
}
.recipe-title {
  font-size: 25px;
}
.recipe-name {
  font-size: 20px;
}
.recipe-time {
  margin: 10px 0;
}
.recipe-headline {
  text-align: center;
  font-family: 'Hannotate TC',sans-serif;
}
.user-show {
  list-style: none;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 24px;
}
.recipe-info {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;
  border: dashed 2px #ffb03f;
  border-radius: 9px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5em 0.5em 0.5em 2em;
  list-style: none;
}
.recipe-box {
  margin-top: 20px;
}
.recipe-details {
  line-height: 1.5;
  padding: 0.5em 0;
}
.recipe-box li {
  margin-left: 10px;
}
.content-box {
  background: #fcfcfc;
  border: solid 3px gray;
}
.content-box {
  padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
}

