// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-headline {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: black;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 1px black;
}