// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-headline {
  text-align: center;
  font-family: 'Hannotate TC',sans-serif;
}
.post-recipe {
  margin-bottom: 100px;
}
.user-item {
  margin-bottom: 50px;
}

.user-box {
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    color: #666666;
    border: 2px solid #996633;
    background-color: #fff;
    box-shadow: -2px 5px 5px #e8d3c7;
    border-radius: 20px;
}



.my-headline {
  font-family: 'Hannotate TC',sans-serif;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
.profile-total-box {
  margin: 15px;
}
.profile-box {
    color: #1e366a;
    border-top: solid #1e366a 1px;
    border-bottom: solid #1e366a 1px;
    padding: 0.5em 0 0.5em 1.5em;
}
.profile-box li {
  line-height: 1.5;
    padding: 0.5em 0;
}
.my-introduction {
 position: relative;
 padding: 2.5em 1em 1em;
 border-style: solid;
 border-color: #82ca9c;
 border-width: 5px 1px 1px;
 background-color: #f7f7f7;
 color: #666;
 box-shadow: 1px 1px 3px #ccc;
}

.introduction-box {
 position: absolute;
 top: 8px;
 left: 15px;
 background-color: #f7f7f7;
 color: #82ca9c;
 font-size: 1.1em;
 font-weight: bold;
}
.my-recipe {
  padding: 0;
}
.my-recipe li {
  color: #404040;
  border-left: solid 6px #1fa67a;
  border-bottom: solid 2px #dadada;
    background: whitesmoke;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
  font-weight: bold;
}
